@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-ExtraLight.woff2) format("woff2");
  font-weight: 200;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: none;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/font/Poppins-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: none;
  font-display: swap;
}

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-card: #fff5e6;
  --color-elips-orange: #e85a2b;
  --color-elips-leather: #c44a2d;
  --color-elips-gold: #d4a84b;
  --color-elips-cream: #f8f4f0;
  --color-elips-black: #1a1a1a;
}
